<!DOCTYPE html>
<html ng-app="actionTest" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

     <script src="../bower_components/angular/angular.js"></script>
    <script src="js/action.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="actionTestCtrl">

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                     MC 거래 테스트
                    </a>
                </li>
                <li>
                    <a href="#tr1">조회 거래</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#menu-toggle"  id="menu-toggle">메뉴 숨기기</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-lg-12" id="toggle2">
                        <a href="#menu-toggle" class="btn btn-primary" id="menu-toggle">메뉴 숨기기</a>
                    </div> 
                    
                    <div class="panel">
                    <h2>최근 검진 결과 조회</h2>
                    </div>
                    
                    <div class="col-lg-12" id="request" ng-show={{requestView}}>
                       
                       <form ng-submit="processForm()">
                           <legend>select_report_result_recent.jsp</legend>
                       
                           <div class="form-group">
                               <label for="">생연월일</label>
                               <input type="text" class="form-control" id="" placeholder="Input field" ng-model="formData.birth_date">
                           </div>
                           <div class="form-group">
                               <label for="">전화번호</label>
                               <input type="text" class="form-control" id="" placeholder="Input field" ng-model="formData.phone_number">
                           </div>
                           
                       
                       
                           <button  type="submit" class="btn btn-primary" >Submit</button>
                       </form>


                    </div>

                    <div class="col-lg-12" id="result" ng-show={{!requestView}}>
                       <h1>결과가 표시됩니다.</h1>

                    </div>


                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $(document).ready(function(){
        $("#toggle2").hide();
    });
    
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $("#toggle2").show();
    });
    </script>
    
</body>

</html>
